@import url(variables.css);
@import url(shared.css);

* {
    box-sizing: content-box;
}

body {
    margin: var(--spacing-none);
    font-family: "Funnel Sans", sans-serif;
}

.container {
    padding: var(--spacing-m);
}

/* Header */
.main-header {
    width: 100vw;
    position: fixed;
    z-index: 1;
    background: var(--color-white);
    padding: var(--spacing-xs) var(--spacing-m);
    box-sizing: border-box;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    cursor: pointer;
    border: var(--border-none);
    padding-top: var(--spacing-none);
    padding-bottom: var(--spacing-none);
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.main-header__brand {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    height: 100%;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 190px);
    vertical-align: middle;
}

.main-nav__items {
    list-style: none;
    margin: var(--spacing-none);
    padding: var(--spacing-none);
}

.main-nav__item {
    display: inline-block;
    margin: var(--spacing-none) var(--spacing-xs);
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 400;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    padding-bottom: var(--spacing-2xs);
    color: var(--primary-color);
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    background: var(--secondary-color);
    color: var(--color-white);
    padding: var(--spacing-2xs) var(--spacing-s);
    border-radius: var(--border-radius-s);
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    border: none;
    background: var(--primary-color);
    color: var(--color-white);
}

/* /header */

/* Mobile Header */
.mobile-nav {
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background: var(--color-white);
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: var(--spacing-none);
    text-align: center;
}

.mobile-nav__item {
    margin: var(--spacing-s) var(--spacing-none);
}

.mobile-nav__item a {
    font-size: var(--font-size-s);
}

/* /Mobile Header */

/* Button */
.button {
    padding: var(--spacing-xs) var(--spacing-s);
    border: var(--border-none);
    border-radius: var(--border-radius-s);
    font-weight: 400;
    font-family: "Funnel Sans", sans-serif;
    font-size: var(--font-size-body);
    cursor: pointer;
}

.primary-button {
    color: var(--color-white);
    /* margin: var(--spacing-xs) var(--spacing-none); */
    text-decoration: none;
    display: inline-block;
    background: var(--primary-color);
    font-size: var(--font-size-body);
}

.primary-button:hover,
.primary-button:active {
    background: var(--primary-gradient);
}

.open {
    display: block !important; 
}

/* /Button */

/* Typography */

.section-title {
    font-size: var(--font-size-xl);
    text-align: center;
}

.title {
    font-size: var(--font-size-l);
    text-align: left;
    margin: var(--spacing-none);
}

.subtitle {
    font-size: var(--font-size-body);
    font-weight: 400;
    margin: var(--spacing-none);
}

