:root {
    --primary-color: #5D26CA;
    --secondary-color: #7E39AF;
    --primary-color-light: #D5C0FF;
    --primary-color-lighter: #efe7fd;
    --primary-bg-light: #F2F6FE;
    --primary-color-dark: #25222E;
    --primary-text-color: #25222E;
    --secondary-text-color: #4B4B4B;
    --tertiary-text-color: #9E9BA5;
    --border-color: #605974;
    --color-white: #ffffff;

    --error-bg: rgb(255, 232, 232);
    --error-border: rgb(241, 131, 131);
    --disabled-bg: #cfcfcf;
    --disabled-text: #918e97;

    --primary-gradient: linear-gradient(135deg, #7E39AF, #5400DC);
    --primary-gradient-hover: linear-gradient(135deg, #6C00B9, #2A007E);

    --overlay: rgba(37, 34, 46, 0.8);

    --spacing-none: 0px;
    --spacing-2xs: 0.375rem;
    --spacing-xs: 0.625rem;
    --spacing-s: 1.25rem;
    --spacing-m: 2.5rem;
    --spacing-l: 3.75rem;


    --border-radius-none: 0px;    
    --border-radius-s: 4px;    
    --border-radius-m: 8px;    
    --border-radius-l: 12px;    
    --border-none: 0px;
    --border-s: 1px;
    --border-m: 2px;
    --border-l: 3px;

    --font-size-2xl: 2.5rem;             /* 40px */
    --font-size-xl: 2.25rem;             /* 36px */
    --font-size-l: 2rem;                 /* 32px */
    --font-size-m: 1.5rem;               /* 24px */
    --font-size-s: 1.25rem;              /* 20px */
    --font-size-body: 1rem;              /* 16px */
    --font-size-description: 0.875rem;   /* 14px */
    --font-size-small: 0.625rem;         /* 12px */
}